In [1]:
import pandas as pd

# Introduction to pandas DataFrame

In [11]:
homelessness = pd.read_csv("homelessness.csv")
homelessness

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

## head() 
* head() method returns the first 5 lines of the table

In [5]:
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

# info
* returns the info of the table
* returns the column names as rows
* returns the non-Null values
* returns the datatype

In [9]:
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          5 non-null      object
 1   state           5 non-null      object
 2   individuals     5 non-null      float64
 3   family_members  5 non-null      float64
 4   state_pop       5 non-null      int64
dtypes: float64(2), int64(1), object(2)
memory usage: 332.0+ bytes

# shape - returns the shape of the table in rows & column

In [12]:
homelessness.shape

(51, 5)

# describe()
* returns few summerize stats

In [13]:
homelessness.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

## values - returns 2d array of pandas dataframe

In [18]:
homelessness.values

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

## columns - returns the column field in an array

In [16]:
homelessness.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

## index - returns the rows number

In [17]:
homelessness.index

RangeIndex(start=0, stop=51, step=1)